<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <!-- Card container that binds all together -->
        <mat-card>
            <!-- Title of an Card -->
            <mat-card-title>
                Information
            </mat-card-title>
            <!-- Actual content starts from here -->
            <mat-card-content style="width: 100%;">
                <form [formGroup]="petForm" (ngSubmit)="toggleLoading(petForm.value)">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Name Pet</mat-label>
                        <input matInput formControlName="name" required appAppAlphabetOnly>
                        <mat-error>
                            <span *ngIf="!petForm.get('name').valid && petForm.get('name').touched">Please enter
                                Pet Name !</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="!petForm.get('category').valid && petForm.get('category').touched">Please
                                choose
                                Pet Category !</span>
                        </mat-error>
                    </mat-form-field>
                    <app-status formControlName="status"></app-status>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Tags</mat-label>
                        <mat-select formControlName="tags" multiple>
                            <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="!petForm.get('tags').valid && petForm.get('tags').touched">Please choose
                                Pet Tags !</span>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="accent" [disabled]="isLoading  || !petForm.valid" [hidden]="flag==true">
                        <img src="https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg"
                            alt="loading" style="width: 20px;" *ngIf="isLoading">Create
                    </button>
                    <button routerLink="/pets" routerLinkActive="active" [hidden]="flag==false" mat-raised-button color="primary" (click)="updatePet()" [disabled]="!petForm.valid">Update</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
    </div>
</div>

<router-outlet></router-outlet>