<form action="" [formGroup]="form">
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Status</mat-label>
        <mat-select (focus)="onTouched()" required formControlName="statusData">
            <mat-option *ngFor="let status of statusList" [value]="status">{{status}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.statusData.invalid && (form.controls.statusData.dirty || form.controls.statusData.touched)">
            <div *ngIf="form.controls.statusData.errors.required">Status is required</div>
        </mat-error>
    </mat-form-field>
</form>