<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <!-- Card container that binds all together -->
        <mat-card>
            <!-- Title of an Card -->
            <mat-card-title>
                Information
            </mat-card-title>
            <!-- Actual content starts from here -->
            <mat-card-content>
                <form [formGroup]="tagForm" (ngSubmit)="addTag()">
                    <mat-form-field appearance="fill" style="width:100%;">
                        <input formControlName="name" matInput placeholder="Name Tag">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!tagForm.get('name').valid && tagForm.get('name').touched">Please enter
                            Tag Name !</span>
                    </mat-error>
                    <button mat-raised-button color="accent" [disabled]="!tagForm.valid || flag" [hidden]="flag==true">Create</button>
                    <button routerLink="/tags" routerLinkActive="active" [hidden]="flag==false" mat-raised-button (click)="updateTag()" color="primary" [disabled]="!tagForm.valid">Update</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
    </div>
</div>
<router-outlet></router-outlet>