<mat-toolbar color="primary">
    <span><button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">Training</button></span>
    <div class="spacer"></div>
    <button mat-button [routerLink]="['profile']" routerLinkActive="router-link-active">Profile</button>
    <button mat-button [routerLink]="['categories']" routerLinkActive="router-link-active">Categories</button>
    <button mat-button [routerLink]="['tags']" routerLinkActive="router-link-active">Tags</button>
    <button mat-button [routerLink]="['pets']" routerLinkActive="router-link-active">Pets</button>
</mat-toolbar>
<router-outlet></router-outlet>